<html>
<head>
    <title>UseResponse Settings</title>
    <meta name="decorator" content="atl.admin">

</head>
<body>

<style>

</style>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    $webResourceManager.requireResource(
        "useresponse.jira-plugin:jira-plugin-resources")

<div id="hellopreloader">
    <div id="hellopreloader_preload"></div>
</div>

<div class="img-container" style="">
    <a href="https://www.useresponse.com/" target="_blank">
        <img style="margin: 0;"
             src="${baseUrl}/download/resources/useresponse.jira-plugin:jira-plugin-resources/images/urPicture.png"
             alt="">
    </a>
</div>

<form id="admin" class="aui" action="" method="POST">
    <h3>Connection Settings</h3>
    <div class="useresponse-domain">
        <div class="field-group">
            <label for="domain">UseResponse Domain:</label>
            <input type="text" id="domain" name="domain" class="text" placeholder="Enter a domain here . . ."
                   value="${domain}">
        </div>
        <label for="" class="help-label">Example: https://yourcompany.useresponse.com/</label>
    </div>

    <div class="field-group">
        <label for="apiKey">UseResponse ApiKey:</label>
        <input type="text" id="apiKey" name="apiKey" class="text" placeholder="Enter apiKey here . . ."
               value="${apiKey}">
    </div>

##    <div id="link-settings">
##        #parse("templates/ur_link_settings_template.vm")
##    </div>

    <div class="field-group" style="margin-top: 20px;">
        <input id="submit-button" type="submit" value="Save" class="aui-button aui-button-primary">
    </div>

</form>
</body>
</html>