<html>
<head>
    <title>UseResponse Settings</title>
    <meta name="decorator" content="atl.admin">

</head>
<body>

<style>
    form.aui .select {
        padding: 0;
    }
</style>

    $webResourceManager.requireResource(
        "useresponse.atlassian.plugins.jira.jira-plugin:jira-plugin-resources")

<div class="img-container" style="  display: flex; align-items: center; justify-content: center">
    <img style="margin: 0;"
         src="${baseUrl}/download/resources/useresponse.atlassian.plugins.jira.jira-plugin:jira-plugin-resources/images/urPicture.png"
         alt="">
</div>

<form id="admin" class="aui" action="" method="POST">
    <h3>Connection Settings</h3>
    <div class="field-group">
        <label for="domain">UseResponse Domain:</label>
        <input type="text" id="domain" name="domain" class="text" placeholder="Enter an domain here . . ."
               value="${domain}">
    </div>
    <div class="field-group">
        <label for="apiKey">UseResponse ApiKey:</label>
        <input type="text" id="apiKey" name="apiKey" class="text" placeholder="Enter apiKey here . . ."
               value="${apiKey}">
    </div>


    <div id="link-settings">
        #if($!useResponseStatuses)

            <h3>Statuses Mapping</h3>

            #foreach($statusSlug in $statusSlugLinks.entrySet())
                <div class="field-group">
                    <label for="${statusSlug.key}Status">${statusSlug.key}</label>
                    <select class="select" name="${statusSlug.key}Status" id="${statusSlug.key}Status">
                        #foreach( $status in $useResponseStatuses.entrySet())
                            <option
                                #if($statusSlug.value == $status.value)
                                        selected
                                #end
                                        value="${status.value}">${status.key}</option>
                        #end
                    </select>
                </div>
            #end

            <h3>Priorities Mapping</h3>

            #foreach($prioritySlug in $prioritySlugLinks.entrySet())
                <div class="field-group">
                    <label for="${prioritySlug.key}Priority">${prioritySlug.key}</label>
                    <select class="select" name="${prioritySlug.key}Priority" id="${prioritySlug.key}Priority">
                        #foreach($priority in $useResponsePriorities.entrySet())
                            <option
                                #if($prioritySlug.value == $priority.key)
                                        selected
                                #end
                                        value="${priority.key}">${priority.value}</option>
                        #end
                    </select>
                </div>
            #end

        #end
    </div>

    <div class="field-group" style="margin-top: 20px;">
        <input id="submit-button" type="submit" value="Save" class="aui-button aui-button-primary">
    </div>

</form>
</body>
</html>