<html>
<head>
    <title>UseResponse Settings</title>
    <meta name="decorator" content="atl.admin">
</head>
<body>
<form id="admin" class="aui" action="" method="POST">

    <h3>Connection settings</h3>
    <div class="field-group">
        <label for="domain">UseResponse Domain:</label>
        <input type="text" id="domain" name="domain" class="text" placeholder="Enter an domain here . . ."
               value="${domain}">
    </div>
    <div class="field-group">
        <label for="apiKey">UseResponse ApiKey:</label>
        <input type="text" id="apiKey" name="apiKey" class="text" placeholder="Enter apiKey here . . ."
               value="${apiKey}">
    </div>


    #if($!useResponseStatuses)

        <h3>Statuses settings</h3>

        #foreach($statusSlug in $statusSlugLinks.entrySet())
            <div class="field-group">
                <label for="${statusSlug.key}Status}">${statusSlug.key}</label>
                <select name="${statusSlug.key}Status" id="${statusSlug.key}Status">
                    #foreach( $status in $useResponseStatuses.entrySet())
                        <option
                            #if($statusSlug.value == $status.value)
                                    selected
                            #end
                                    value="${status.value}">${status.key}</option>
                    #end
                </select>
            </div>
        #end

        <h3>Priorities settings</h3>

        #foreach($prioritySlug in $prioritySlugLinks.entrySet())
            <div class="field-group">
                <label for="${prioritySlug.key}Priority">${prioritySlug.key}</label>
                <select name="${prioritySlug.key}Priority" id="${prioritySlug.key}Priority">
                    #foreach($priority in $useResponsePriorities.entrySet())
                        <option
                            #if($prioritySlug.value == $priority.key)
                                selected
                            #end
                                value="${priority.key}">${priority.value}</option>
                    #end
                </select>
            </div>
        #end


    #else
        <h3>Can't connect to UseResponse system. Check your connection settings</h3>

    #end

    <div class="field-group">
        <input type="submit" value="Save" class="button">
    </div>

</form>
</body>
</html>