<html>
<head>
    <title>UseResponse Settings</title>
    <meta name="decorator" content="atl.admin">
</head>
<body>
<form id="admin" class="aui" action="" method="POST">

    <h3>Connection settings</h3>
    <div class="field-group">
        <label for="domain">UseResponse domain:</label>
        <input type="text" id="domain" name="domain" class="text" placeholder="Enter an domain here . . ."
               value="${domain}">
    </div>
    <div class="field-group">
        <label for="apiKey">UseResponse login:</label>
        <input type="text" id="apiKey" name="apiKey" class="text" placeholder="Enter apiKey here . . ."
               value="${apiKey}">
    </div>

    <h3>Statuses settings</h3>

    <div class="field-group">
        <label for="openSelect">Open</label>
        <select name="openSelect" id="openSelect">
            #foreach( $status in $useResponseStatuses.entrySet())
                <option
                        #if($openStatus == $status.value)
                            selected
                        #end
                        value="$status.value">$status.key</option>
            #end
        </select>
    </div>
    <div class="field-group">
        <label for="inProgressSelect">In Progress</label>
        <select name="inProgressSelect" id="inProgressSelect">
            #foreach( $status in $useResponseStatuses.entrySet())
                <option
                    #if($inProgressStatus == $status.value)
                            selected
                    #end
                        value="$status.value">$status.key</option>
            #end
        </select>
    </div>
    <div class="field-group">
        <label for="reopenedSelect">Reopened</label>
        <select name="reopenedSelect" id="reopenedSelect">
            #foreach( $status in $useResponseStatuses.entrySet())
                <option
                        #if($reopenedStatus == $status.value)
                            selected
                        #end
                        value="$status.value">$status.key</option>
            #end
        </select>
    </div>
    <div class="field-group">
        <label for="resolvedSelect">Resolved</label>
        <select name="resolvedSelect" id="resolvedSelect">
            #foreach( $status in $useResponseStatuses.entrySet())
                <option
                    #if($resolvedStatus == $status.value)
                            selected
                    #end
                        value="$status.value">$status.key</option>
            #end
        </select>
    </div>
    <div class="field-group">
        <label for="closedSelect">Closed</label>
        <select name="closedSelect" id="closedSelect">
            #foreach( $status in $useResponseStatuses.entrySet())
                <option
                    #if($closedStatus == $status.value)
                            selected
                    #end
                        value="$status.value">$status.key</option>
            #end
        </select>
    </div>
    <div class="field-group">
        <label for="todoSelect">To do</label>
        <select name="todoSelect" id="todoSelect">
            #foreach( $status in $useResponseStatuses.entrySet())
                <option
                    #if($todoStatus == $status.value)
                            selected
                    #end
                        value="$status.value">$status.key</option>
            #end
        </select>
    </div>
    <div class="field-group">
        <label for="doneSelect">Done</label>
        <select name="doneSelect" id="doneSelect">
            #foreach( $status in $useResponseStatuses.entrySet())
                <option
                    #if($doneStatus == $status.value)
                            selected
                    #end
                        value="$status.value">$status.key</option>
            #end
        </select>
    </div>

    <div class="field-group">
        <input type="submit" value="Save" class="button">
##        <input type="submit" value="Test Connection" class="button">
    </div>

</form>
</body>
</html>